@model NutriBem.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Receita</h1>

<div>
      <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredienteQuantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredienteQuantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MododePreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MododePreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curtidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curtidas)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
