@model IEnumerable<app.Models.Entities.Usina>

@{
    Layout = "_ContentLayout";
}

@if (!Model.Any())
{
    <p>Nenhuma usina encontrada.</p>
}
else
{
    <h1>Usinas</h1>

    <a asp-action="Add" class="btn btn-primary mb-3">Adicionar Usina</a>

    <table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Capacidade (KW)</th>
            <th>Data de Início</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usina in Model)
            {
                <tr>
                    <td>@usina.Nome</td>
                    <td>@usina.CapacidadeKW</td>
                    <td>@usina.DataInicio.ToString("dd/MM/yyyy")</td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@usina.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@usina.Id" class="btn btn-danger btn-sm"
                            onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
